@font-face {
  font-family: "Comforta";
  src: url("../fonts/Comfortaa-Regular.ttf");
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-image: url(../img/bg.png);
	background-repeat: repeat-y repeat-x;
	background-attachment: fixed;
	background-color: #f8f9fb;
}

p {
    margin: 0 0 0px;
}

.navbar-color{
	background-color: #1b1b1b;
}

.center-title{
	margin-top: 25%;
}

.center-links{
	margin-top: 5%;
	margin-bottom:  0px;
	padding: 0px;
}

.color-link{
	/*background-color: #e7e7e7;*/
	color: green;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #008000;
}

/*.navbar-default .navbar-nav>li>a .hov:hover {
    color: #008000;
}*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    /*background-color: #000;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #008000;
    background-color: rgba(226, 215, 213, 0);
}

.color-green{
	color: green;
}

/* Slider */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

.logo {
    width: 110px;
    height: 111px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../img/logopeque.png) no-repeat;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 960px;
}

.nav-text {
	font-family: "Comforta";
	font-size: 17px;
}

.text-titulo{
	font-size: 50px;
    font-weight: bold;
    font-family: "Comforta";
    text-align: center;
}

/* Color del footer*/
.color-footer{
	background-color: #1b1b1b;
	text-align: center;
	padding-bottom: 21px;
    padding-top: 15px;
}

/* Color del copyrigth*/
.color-footer-leter {
	color: #FFFFFF;
}

/* texto footer */
.text-footer{
    font-size: 15px;
    color: #e2e1e1;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-texture{
	background: url(../img/linea.png) repeat-x;
	background-color: #1b1b1b;
	height: 30px;
}

.cancha-titulo{
	font-family: "Comforta";
	color: #008000;
}

.formulario {
	background-color: #fff;
    width: 100%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-right: 14px;
    padding-left: 14px;
    max-width: 500px;
    box-shadow: 1px 3px 7px #888888;
}

.formulario-login {
    background-color: #fff;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-right: 14px;
    padding-left: 14px;
    max-width: 500px;
    box-shadow: 1px 3px 7px #888888;
}

.formulario-registro {
    background-color: #fff;
    width: 100%;
    height: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 18px;
    padding-right: 14px;
    padding-left: 14px;
    max-width: 500px;
    box-shadow: 1px 3px 7px #888888;
}

.login-text{
    font-size: 18px;
    font-family: "Comforta";
    font-weight: bold;
}

.login-titulo{
    color: #008000;
    font-family: "Comforta";
    font-weight: bold;
}

.login-icon{
    text-align: right;
    font-size: 40px;
    color: rgba(51, 51, 51, 0.4);
}
/* Thead estilo */
.thead-s{
	background: #40A640;
    color: #fff;
    font-size: 17px;
    font-family: "Comforta";
}

.barras{
	padding-top: 5%;
}
@media (max-width: 1200px){
	.barras{
	    padding-top: 10%;
	}
}

@media (max-width: 992px){
	.barras{
	    padding-top: 15%;
	}
}

@media (max-width: 768px){
	.barras{
	    padding-top: 0%;
	}
}